/* === ШАПКА === */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 94px;
  font-size: 18px;
}

/* список ссылок */
.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

/* ссылка без буллита */
.header__links-list-item_no-bullit {
  list-style: none;
}

/* каждая ссылка в пункте списка */
.header__link {
  text-underline-offset: 3px;
}

/* ссылка меню без подчёркивания */
.header__link_active {
  text-decoration: none;
}

/* картинка с логотипом */
.header__logo-image {
  height: 105px;
  width: 148px;
}

/* блок с адресом */
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  line-height: 1.35em;
  text-underline-offset: 4px;
}

/* для выравнивания блока с адресом */
.header__address {
  justify-self: end;
  max-width: 240px;
}

/* === ОБЛОЖКА === */
.cover {
  position: relative;
  background: url(../images/cover.jpg) no-repeat center / cover;
  color: #fff;
}

/* полупрозрачный блок поверх секции */
.overlay {
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 60%;
}

/* заголовок обложки */
.cover__title {
  position: relative;
  z-index: 1;
  padding: 165px 50px 106px;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 1.149em;
  letter-spacing: 30px;
}

/* для превращения строк заголовка в блочный элемент */
.aligned-text {
  display: block;
}

/* для выравнивания строк текста */
.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  padding-top: 21px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  text-align: right;
}

/* для обнуления межбуквенного расстояния у последней буквы */
.no-letter-spacing {
  letter-spacing: 0px;
}

/* контейнер для подзаголовка и кнопки */
.cover__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 0px 50px 50px;
}

/* текст подзаголовка */
.cover__description-text {
  padding-top: 12px;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

/* кнопка «Сделать ставку» */
.bet-button {
  padding: 11px 32px 11px 31px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
}

/* === КАРТОЧКИ === */
.lots {
  margin-top: 180px;
}

/* заголовок секции */
.lots__heading {
  padding-left: 64px;
  font-size: 40px;
  text-transform: uppercase;
}

/* список карточек */
.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding: 27px 24px 30px 24px;
  list-style: none;
}

/* пункт списка карточек */
.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
}

/* ссылка, обрамляющая карточку */
.card-link {
  height: 100%;
  text-decoration: none;
}

/* карточка */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
}

/* фон для каждой карточки */
.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center / cover;
}

/* заголовок карточки */
.card__title {
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

/* текст карточки */
.card__text {
  font-size: 20px;
}

/* ссылка «Посмотреть больше» */
.lots__look-more-link {
  padding-left: 64px;
  font-size: 20px;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

/* === ОБ АУКЦИОНЕ === */
.about {
  margin-top: 155px;
}

/* класс для колонок */
.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
}

/* контейнер с логотипом */
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 71px;
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
}

/* изображение логотипа */
.about__logo-image {
  width: 148px;
  height: 114px;
}

/* заголовок секции */
.about__title {
  padding: 100px 0 100px 49px;
  font-size: 40px;
  text-transform: uppercase;
}

/* блок для параграфов */
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 27px 0 49px;
  font-size: 20px;
  line-height: 1.2em;
}

/* === ПОДВАЛ === */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 181px;
  padding: 0 50px 82px;
  font-size: 18px;
}

/* список пунктов меню */
.footer__menu-list {
  list-style: none;
  text-align: center;
}

/* каждая ссылка в пункте списка */
.footer__menu-link {
  text-underline-offset: 4px;
}

/* ссылка меню без подчёркивания */
.footer__menu-link_active {
  text-decoration: none;
}

/* ссылки на соц.сети */
.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

/* иконка социальной сети */
.footer__social-icon {
  width: 48px;
}